
html {
  overflow-y: scroll;
}

body {
  font-family: sans-serif;
  background: #444;
  margin: 0;
}

main {
  margin-top: 50px;
  margin-bottom: 40px;
}

/****************** STYLING FOR ALL BUTTONS *******************/
.btn {
  background: #fff;
  color: #365899;
  border: 3px solid #365899;
  text-shadow: none;
  text-decoration: none;
  transition-duration: 0.4s;
}

.btn:hover {
  background: #365899;
  color: #fff;
}

.btn:active {
  background: #365899;
  color: #fff;
}

p .btn-comment {
  margin-top: 30px;
}

p .btn-comment span, .add-blog-btn span, .back-to-home span {
  color: #365899;
}

p .btn-comment span {
  margin-right: 10px;
}

p .btn-comment:hover span, button:hover span {
  color: #fff;
}

.add-blog-btn, .back-to-home {
  font-family: sans-serif;
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 40px;
}

.blogview-btns {
  display: flex;
  justify-content: flex-start;
}

.btn-blogview {
  margin: 10px 10px 50px 0;
}

.btn-delete:hover {
  background: #eb1e1e;
  border: 3px solid #e51410;
}

.comment-btn {
  margin: 5px;
  height: 35px;
  width: 35px;
  padding: 0;
  padding-top: 5px;
}
/***************  ^^^ STYLING FOR ALL BUTTONS ^^^ ***************/

/******************** NAVBAR ********************/
.navbar-default {
  background: #000;
  color: #eee;
}

.SkiBlog {
  font-family: 'Kaushan Script', cursive;
  font-size: 30px;
  color: #8abbff;
  letter-spacing: 0.1em;
  margin-right: 30px;
}

.active {
  background: #8abbff;
  color: #000;
}

.active:hover {
  background: #8abbff;
}

.navbar-header .navbar-brand {
  color: #8abbff;
  height: 40px;
}

.navbar-header .navbar-brand:hover {
  color: #47ff66;
}

a.navbar-brand {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-fluid {
  display: flex;
  align-items: center;
}

#blog-nav-left {
  display: flex;
  align-items: center;
}

#blog-nav-left>li>a {
  color: #eee;
  text-shadow: none;
  font-size: 20px;
  letter-spacing: 0.05em;
  font-family: 'Kaushan Script', cursive;

}

#blog-nav-left>li>a:hover {
  background: #8abbff;
  color: #000;
  font-weight: bolder;
}

.navbar-fixed-top {
  border-bottom: 4px solid #8abbff;

}

/********************** FOOTER **********************/
.navbar-fixed-bottom {
  display: flex;
  align-items: center;
  border-top: 4px solid #8abbff;
}

.footer-link {
  color: #8abbff;
}

.footer-link:hover {
  color: #47ff66;
  text-decoration: none;
}


/***************************************************/
/******************** HOME PAGE ********************/
/***************************************************/
.opening {
  background: #eee;
  color: #365899;
  font-size: 40px;
  font-family: 'Rancho',cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  text-align: center;
}


.thumbnail {
  padding: none;
  border: none;
  margin-bottom: 0;
  display: block;
  width: 100%;
  position: relative;
  height: 0;
  padding: 56.25% 0 0 0;
  overflow: hidden;
  border-radius: 0;
}

.row .col-sm-6, .row .col-md-4 {
  padding: 0;
  padding-bottom: 10px;
}

.blog-image {
  position: absolute;
  display: block;
  width: 100%;
  max-height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  overflow: hidden;
  transition: transform 0.8s ease;
}

.blog-title, .blog-body, .blog-name {
  font-family: 'Acme', sans-serif;
  color: #ccc;
  position: absolute;
  left: 0;
}
.blog-title {
  background: rgba(0, 0, 0, 0.65);
  text-align: center;
  width: 100%;
  top: 0;
  margin-top: 0;
  padding: 15px 50px;
}

.blog-body {
  display: none;
  background: rgba(0, 0, 0, 0.8);
  text-align: justify;
  font-size: 18px;
  width: 100%;
  top: 0;
  padding: 15px 15px;
}

.blog-name {
  display: none;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  font-style: italic;
  font-size: 20px;
  width: 100%;
  bottom: 0;
  margin-bottom: 0;
  padding: 15px 50px;
}

.blog-square:hover .blog-image {
  transform: scale(1.15);
}

/***************************************************/
/******************* CREATE BLOG *******************/
/***************************************************/
form {
  padding: 20px 50px;
}

.form-main {
  margin: 10%;
  background: #eee;
  border-radius: 10px;
  width: 700px;
  height: 810px;
  border: 10px solid #222;
  box-shadow: 10px 8px 8px #111;
}

.form-title {
  font-family: 'Kaushan Script', cursive;
  letter-spacing: 0.05em;
}

.form-main h6 {
  color: #ff3d3d;
}
.response-div {
  display: flex;
  justify-content: space-between;
}

.back-to-home, .blog-response {
  display: none;
}

.blog-response {
  padding: 0 20px;
  text-align: center;
}


input[type="name"], input[type="email"], input[type="title"] {
  width: 400px;
}

input[type="link"] {
  width: 600px;
}

#InputBlog {
  max-width: 600px;
  height: 300px;
  max-height: 300px;
  vertical-align: top;
}

/***************************************************/
/******************** UPDATING *********************/
/***************************************************/

.edit-form-main {
  background: #eee;
  border: 10px solid #222;
  border-radius: 25px;
  box-shadow: 8px 12px 8px #111;
  width: 700px;
  height: 750px;
  margin: 150px;
}

.editHeader {
  margin-bottom: 20px;
}

.editHeader h2 {
  padding: 0;
  margin-bottom: 10px;
}

.edit-title {
  font-weight: bold;
}

/***************************************************/
/******************** VIEW POST ********************/
/***************************************************/
.main-view {
  margin: 100px 150px;
}

.jumbotron {
  border: 10px solid #222;
  border-radius: 10px;
  box-shadow: 10px 8px 8px #111;
  padding: 30px 20px;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.jumbotron-img {
  border: 20px solid #222;
  border-image: url("https://userscontent2.emaze.com/images/d00e461c-681b-4264-8163-44b5b4dba7e2/9ca7ec46bf9feb74d47e13ef2f61d9b5.png") 27;
  box-shadow: 8px 12px 8px #444;
  align-self: center;
  width: 60%;
}

.hanger {
  width: 30%;
  filter: drop-shadow(5px 5px 5px #222);
}

.post-title {
  font-family: 'Kaushan Script', cursive;
  letter-spacing: 0.05em;
}
.post-date {
  margin-bottom: 50px;
}

.post-body {
  text-align: justify;
}

.post-author {
  font-style: italic;
}

#author-name {
  color: #365899;
  font-weight: bold;
}

.glyphicon-comment {
  color: #fff;
}


/**************** COMMENT SECTION ******************/
.comment-section > :first-child {
  font-weight: bold;
  text-decoration: underline;
}

.commentSpot {
  background: #fff;
  border-radius: 10px;
  border: 10px solid #222;
  box-shadow: 10px 8px 8px #111;
  color: #000;
  display: none;
  margin-bottom: 100px;
}

.eachComment {
  border-bottom: 2px solid #222;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.comment-btns-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 20px;
}

.name-time-comment-div {
  margin-left: 20px;
}

.name-time-comment-div h4 {
  color: #365899;
  font-weight: bold;
}

/************** ADD OR EDIT COMMENT SECTION ***************/
.editCommentSpot {
  background: #fff;
  border-radius: 10px;
  border: 10px solid #222;
  box-shadow: 10px 8px 8px #111;
  color: #000;
  display: none;
  margin-bottom: 100px;
}

#CommentComment, #EditComment {
  max-width: 600px;
  min-width: 300px;
}

/************** HIDDEN DELETE SECTION ***************/
.deleteSection {
  display: none;
}

.deleteSection img {
  width: 400px;
}

.deleteSection h3 {
  color: #eee;
}
