* {
  box-sizing: border-box;
}

/* force scrollbar */
html {
  overflow-y: scroll;
}

body {
  font-family: sans-serif;
  background: #000;
  margin: 15px;
}

main {
  margin-top: 50px;
}

/******************** GRID ********************/

.navbar-default {
  background: #000;
  color: #eee;
}

.navbar-nav li {
  color: #eee;
}



/******************** GRID ********************/

.grid {
  background: #DDD;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/******************** GRID ITEM ********************/

.grid-sizer,
.grid-item {
  width: 33.333%;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

.dimmed {
  background: rgba(0, 0, 0, 0.5);
}

.blog-title, .blog-body {
  text-align: center;
}

/********************** FOOTER **********************/
.navbar-fixed-bottom {
  display: flex;
  align-items: center;
}
