
html {
  overflow-y: scroll;
}

body {
  font-family: sans-serif;
  background: #333;
  margin: 15px;
}

main {
  margin-top: 50px;
  margin-bottom: 50px;
}

/******************** NAVBAR ********************/
.navbar-default {
  background: #000;
  color: #eee;
}

.SkiBlog {
  font-family: 'Kaushan Script', cursive;
  font-size: 30px;
  color: #8abbff;
  letter-spacing: 0.1em;
  margin-right: 30px;
}

.active {
  background: #8abbff;
  color: #000;
}

.active:hover {
  background: #8abbff;
}

.navbar-header .navbar-brand {
  color: #8abbff;
  height: 40px;
}

.navbar-header .navbar-brand:hover {
  color: #47ff66;
}

a.navbar-brand {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-fluid {
  display: flex;
  align-items: center;
}

#blog-nav-left {
  display: flex;
  align-items: center;
}

#blog-nav-left>li>a {
  color: #eee;
  text-shadow: none;
  font-size: 20px;
  letter-spacing: 0.05em;
  font-family: 'Kaushan Script', cursive;

}

#blog-nav-left>li>a:hover {
  background: #8abbff;
  color: #000;
  font-weight: bolder;
}


/********************** FOOTER **********************/
.navbar-fixed-bottom {
  display: flex;
  align-items: center;
}

.footer-link {
  color: #8abbff;
}

.footer-link:hover {
  color: #47ff66;
  text-decoration: none;
}


/***************************************************/
/******************** HOME PAGE ********************/
/***************************************************/
.thumbnail {
  padding: none;
  border: none;
  margin-bottom: 0;
  display: block;
  width: 100%;
  position: relative;
  height: 0;
  padding: 56.25% 0 0 0;
  overflow: hidden;
  border-radius: 0;
}

.row .col-sm-6, .row .col-md-4 {
  padding: 0;
}

.blog-image {
  position: absolute;
  display: block;
  width: 100%;
  max-height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  overflow: hidden;
  transition: transform 0.8s ease;
}

.blog-title, .blog-body, .blog-name {
  color: #ccc;
  position: absolute;

}
.blog-title {
  background: rgba(0, 0, 0, 0.65);
  font-style: italic;
  text-align: center;
  width: 100%;
  top: 0;
  left: 0;
  margin-top: 0;
  padding: 15px 50px;
}

.blog-body {
  display: none;
  background: rgba(0, 0, 0, 0.8);
  text-align: justify;
  font-size: 18px;
  width: 100%;
  top: 0;
  left: 0;
  padding: 15px 15px;
}

.blog-name {
  display: none;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  font-style: italic;
  font-size: 20px;
  width: 100%;
  bottom: 0;
  left: 0;
  margin-bottom: 0;
  padding: 15px 50px;
}

.blog-square:hover .blog-image {
  transform: scale(1.15);
}

/***************************************************/
/******************* CREATE BLOG *******************/
/***************************************************/
form {
  padding: 20px 50px;
}

.form-main {
  margin: 10%;
  background: #eee;
  border-radius: 10px;
  width: 700px;
  height: 810px;
  border: 10px solid #222;
  box-shadow: 10px 8px 8px #111;
}

.form-title {
  font-family: 'Kaushan Script', cursive;
  letter-spacing: 0.05em;
}

.form-main h6 {
  color: #ff3d3d;
}
.response-div {
  display: flex;
  justify-content: space-between;
}

.add-blog-btn, .back-blog-btn {
  background: #8abbff;
  text-shadow: none;
  height: 30px;
}

.add-blog-btn:hover, .back-blog-btn:hover {
  background: #47ff66;
  text-decoration: none;
}

.back-blog-btn, .blog-response {
  display: none;
}

.blog-response {
  padding: 0 20px;
  text-align: center;
}


input[type="name"], input[type="email"], input[type="title"] {
  width: 400px;
}

input[type="link"] {
  width: 600px;
}

#InputBlog {
  max-width: 600px;
  height: 300px;
  max-height: 300px;
  vertical-align: top;
}

/********************** UPDATING **********************/

.edit-form-main {
  margin: 150px;
  background: #eee;
  border: 10px solid #222;
  border-radius: 25px;
  width: 700px;
  height: 700px;
  box-shadow: 8px 12px 8px #111;
}

.editHeader {
  margin-bottom: 20px;
}

.editHeader h2 {
  padding: 0;
  margin-bottom: 10px;
}

.edit-title {
  font-weight: bold;
}

/**********************TESTING**********************/
.blogIDview {
  margin-top: 200px;
  color: #fff;
}

.jumbotron {
  padding: 30px 20px;
  border-radius: 10px;
  border: 10px solid #222;
  box-shadow: 10px 8px 8px #111;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.jumbotron-img {
  width: 60%;
  align-self: center;
  border: 20px solid #222;
  border-image: url("https://userscontent2.emaze.com/images/d00e461c-681b-4264-8163-44b5b4dba7e2/9ca7ec46bf9feb74d47e13ef2f61d9b5.png") 27;
  box-shadow: 8px 12px 8px #444;
}

.hanger {
  height: 75px;
}

.blogview-btns {
  display: flex;
  justify-content: flex-end;
}

.btn-blogview {
  margin: 10px;
}

.btn-edit {
  background: #388bff;
  }

.btn-edit:hover {
  background: #0066f5;
}

.btn-delete {
  background: #f05656;
}

.btn-delete:hover {
  background: #eb1e1e;
}

.writtenBy {
  font-style: italic;
}

.comment-section > :first-child {
  font-weight: bold;
  text-decoration: underline;
}

.commentSpot {
  color: #000;
  background: #fff;
  margin-bottom: 100px;
  display: none;
  border-radius: 10px;
  border: 10px solid #222;
  box-shadow: 10px 8px 8px #111;
}

.editCommentSpot {
  color: #000;
  background: #fff;
  margin-bottom: 100px;
  display: none;
  border-radius: 10px;
  border-radius: 10px;
  border: 10px solid #222;
  box-shadow: 10px 8px 8px #111;
}

.eachComment {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  border-radius: 5px;
  background: #ddd;
}

.comment-btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 20px;
}

.comment-btn {
  margin: 5px;
  height: 35px;
  width: 35px;
  padding: 0;
  padding-top: 5px;
  background: #999;
}

.name-time-comment {
  margin-left: 20px;
}

.view-main {
  margin: 100px 150px;
}

.deleteSection {
  display: none;
}

.deleteSection img {
  width: 400px;
}

.deleteSection h3 {
  color: #eee;
}

.post-title {
  font-family: 'Kaushan Script', cursive;
  letter-spacing: 0.05em;
}
.post-date {
  margin-bottom: 50px;
}

.post-body {
  text-align: justify;
}

.btn-comment {
  margin-top: 30px;
}

.blue-btn {
  background: #8abbff;
  color: #000;
}

.blue-btn:hover {
  background: #47ff66;
  color: #000;
}
